@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html,
body,
#root,
.content{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
body{
  display: flex;
  position: relative;
  padding: 0;
  max-width: 1440px;
}
.bx{
  cursor: pointer;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover{
  background-color: rgb(25, 172, 25);
}

/* body */
.header{
  display: flex;
  flex-direction: column;
  width: 270px;
  text-align: center;
  height: 100%;
  margin: 0;
  bottom: 0;
  padding: 0.5%;
  background-color: #f0eded;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.178);
  position: fixed;
  z-index: 999;
}
.navbar{
  margin-top: -20px;
}
.navbar ul{
  align-items: start;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;

}
.navbar ul li{
  list-style: none;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  width: 100%;
  align-items: center;
  
}
.navbar li a{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
}
.navbar li a.active,
.navbar li a:hover{
  background-color: rgb(25, 172, 25);
  color: #fff;
  
  
}
.bx-chevron-right{
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}
.card{
  width: 100%;
  background-color: #fff;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  margin: 20px 0 20px 0;
}
.card-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.top-img{
  display: flex;
}
header img{
  width: 30px;
  border-radius: 50%;
}
.top-icon{
  width: 30px; 
  background-color: rgb(25, 172, 25); 
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  width: 50px;
  height: 30px;
  background-color: #888;
}
.header-foot{
  display: flex;
  border-radius: 10px;
  align-items: center;
  height: 50px;
  background-color: #fff;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}
.header-foot .bx-chevron-down{
  background: transparent;
  font-weight: 15px;
}


/* dashboard*/
.dashboard{
  width: 100%;
  margin-left: 270px;
  height: 100%;
  margin-top: 0;
  right: 0;
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* topbar */
.top-bar{
  margin-top: -20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  
}
.search{
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 15px;
  background: #f6f6f6;
  width: auto;
}
.search input{
  font-size: 16px;
  color: #333;
  margin-left: 14px;
  margin-right: 44px;
  outline: none;
  border: none;
  background: transparent;

}
.dash-icons{
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  
}
.message-icon{
  border: 1px solid rgba(0, 0, 0, 0.315);
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;

}
.search input::placeholder,
.search i{
  color: rgba(0, 0, 0, 0.315);
}
.search i{
  font-size: 20px;
  font-weight: 600;
}



/* profile */
.profile{
  width: 100%;
  background-color: #f0eded;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;

}
.profile-1{
  width: 60%;
  height: 100%;
  margin: 0;
  text-align: start; 

}
.profile-1 h1{
 margin: 0;
}
.profile-2{
  width: 39%;
  height: 100%;
}
.status{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status-container{
  width: 28%;
  height: auto;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
.status-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-icon{
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: yellow;
  border-radius: 50%;
}
.bxs-calendar-event{
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: rgb(67, 122, 184);
  border-radius: 50%;
}
.bx-plus{
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: rgb(127, 204, 140);
  border-radius: 50%;
}
.red{
  color: red;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.dots{
  font-size: 20px;
  font-weight: 600;
}
.status-number h1{
  margin-top: 20px;
}
.status-bottom{
  display: flex;
  align-items: center;
  color: rgb(53, 240, 53);
  font-weight: 600;
}
.arrow-circle{
  font-size: 20px;
  font-weight: 600;
}
.numbers{
  padding-top: 20px;
}